<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <section>
    <div>

    <h1>Add New Transaction</h1>

<%= form_with class: "new_user", model: @entity do |f| %>

  <div class="field">
      <%= f.label :name %>
      <br />
      <%= f.text_field :name, class: "input", required: true %>
  </div>

  <div class="field">
      <%= f.label :amount %>
      <br />
      <%= f.number_field :amount, class: "input", min: 1, required: true %>
  </div>

      <div class="field">
      <%= f.fields_for(@relation) do |r| %>
      <%= r.label :group%>
      <br />
      <%= r.select :group_id, current_user.groups.collect { |group| [group.name, group.id]}, {include_blank: true}, class: "input",required: true %>
     <% end %>   
    </div>

  <div>
      <%= f.submit %>
  </div>

<% end %>

    </div>
    </section>


  </body>
</html>