<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <div></div>
      <h1 class="categories">Categories</h1>
      <%= link_to destroy_user_session_path, method: :get do %>
        <i class="fa fa-arrow-right fa-lg" style="color:white"></i>
      <% end %>
   </nav>


  </body>
</html>