<%= render "partials/navbar" %>

<section>
    <%@groups.each do |group|%>
      <div class = "body-flex">
        <div>
          <img src=<%=group.icon%> alt="icon">
        </div>
        <div class="name-cover">
          <%= link_to group_path(group.id), :remote => true do %>
            <h3><%=group.name%></h3>
          <%end%>
        </div>
        <div>
          <h3>$<%=Group.total(group.id)%>.00</h3> 
        </div>
        <div>
          <p><%=group.created_at%></p>
        </div>
        <div class="button-cover">
          <%= button_to "Delete", group_path(group.id), html: {'data-turbo' => "false"}, :method => :delete %>
        </div>
      </div>
    <%end%>
</section>

<div>
  <%= link_to new_group_path,  :remote => true do %>
    <input type="button" value="Add Category">
  <% end %>
</div>
