<%
=begin%>
 <%= link_to 'Edit profile', edit_user_registration_path %> |
<%= link_to "Sign out", destroy_user_session_path, method: :get %> 
<%
=end%>
<%= render "partials/navbar" %>

<section>
    <%@groups.each do |group|%>
      <div>
        <img src=<%=group.icon%> alt="icon">

        <%= link_to group_path(group.id), :remote => true do %>
          <h3><%=group.name%></h3>
        <%end%>

        <p><%=group.created_at%></p>

 <h3>$<%=Group.total(group.id)%>.00</h3> 

          <%= button_to "Delete", group_path(group.id), html: {'data-turbo' => "false"}, :method => :delete %>
      </div>
    <%end%>
</section>

<div>
  <%= link_to new_group_path,  :remote => true do %>
    <input type="button" value="Add Category">
  <% end %>
</div>
