<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section>
      <div>

        <h1>Add A New Category</h1>
        <%= form_with html: {'data-turbo' => "false"}, class: "new_user", model: @group do |f| %>

          <div class="field">
            <%= f.label :name %>
            <br />
            <%= f.text_field :name, class: "input", required: true %>
          </div>

          <div class="field">
            <%= f.label "add icon or image" %>
            <br />
            <%= f.text_field :icon, class: "input", required: true %>
          </div>

          <div>
            <%= f.submit "Create Category" %>
          </div>

        <% end %>
    </div>
    <div class="back-cover">
      <%= link_to '/', :remote => true do %>
        <input type="button" value="Back">
      <% end %> 
    </div>
  </section>
</body>
</html>